{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}

    <div class="container mx-auto my-16 text-center">

        <h3 class="text-3xl font-bold mb-12">Movies</h3>

        <div>
            <div data-controller="movie"></div>
        </div>

{% endblock %}